@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-theme="dark"] {
	--bg-color: #1c1f20;
	--text-primary: #fff;
	--text-secondary: #f3f3f3;
	--gray-100: #5b686d;
	--primary-100: #34cfe7;
}

:root {
	--bg-color: #fff;
	--text-primary: #141514;
	--text-secondary: #5e6772;
	--primary-300: #2e8896;
	--gray-500: #7c7c7c;
	--gray-300: #bdbdbd;
	--gray-200: #e8e8e8;
	--gray-100: #f5f6fa;
	--light-bg: #e4f4fa;
	--orange-300: #fe6d01;
	--orange-100: #fff3e0;
	--body-1: 16px;
	--body-2: 14px;
}

body {
	color: var(--text-secondary);
	background-color: var(--bg-color);
}

h1,
h2,
h3,
h5 {
	color: var(--text-primary);
}

h1 {
	font-size: 40px;
	line-height: 130%;
	font-weight: 700;
}

h2 {
	font-size: 40px;
	line-height: 48px;
	font-weight: 600;
}

h3 {
	font-size: 24px;
	line-height: 32px;
	font-weight: 400;
}

h5 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
}

.body-1 {
	font-size: var(--body-1);
	line-height: 145%;
	font-weight: 400;
}

.body-2 {
	font-size: var(--body-2);
	line-height: 24px;
	font-weight: 400;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

:root[data-theme="dark"] .category {
	color: var(--primary-100);
}

.category {
	background-color: var(--light-bg);
	color: var(--primary-300);
	width: fit-content;
	padding: 0 8px;
	border-radius: 4px;
}

.category-large {
	padding: 8px 12px;
	background-color: var(--gray-100);
}

/* Carousel styles */
.carousel-root .carousel.carousel-slider {
	overflow: initial;
}

.carousel .slider-wrapper.axis-horizontal .slider {
	gap: 24px;
}
